<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Scolaire - Accueil</title>
    <link rel="stylesheet" href="../static/style.css"> <!-- Le lien vers le fichier CSS externe -->
</head>
<body>

    <!-- En-tête de la page -->
    <header>
        <h1>
            Bienvenue dans notre école
            <img class="logo" src="../static/logo.jpg" alt="Logo de l'école">
        </h1>
    </header>

    <!-- Menu de navigation -->
    <nav>
        <a href="/etudiant">Étudiants</a>
        <a href="/prof">Profs</a>
        <a href="/absences">Absences</a>
        <a href="/emplois">Emploi du Temps</a>
        <a href="/para">Paramètres</a>
    </nav>

    <!-- Section principale (Tableau de bord) -->
    <section class="dashboard">
        <!-- Carte pour la gestion des étudiants -->
        <div class="card">
            <h3>Gestion des Étudiants</h3>
            
            <a href="/etudiant">Voir les étudiants</a>
        </div>


        <div class="card">
            <h3>Gestion des Profs</h3>
            
            <a href="/prof">Voir les Profs</a>
        </div>

        <!-- Carte pour la gestion des absences -->
        <div class="card">
            <h3>Gestion des Absences</h3>
            
            <a href="/absences">Voir les absences</a>
        </div>

        <!-- Carte pour l'emploi du temps -->
        <div class="card">
            <h3>Emploi du Temps</h3>
            
            <a href="/emplois">Voir l'emploi du temps</a>
        </div>
    </section>

   
    <!-- Pied de page -->
    <footer>
        <p>&copy; 2024 Gestion Scolaire - Tous droits réservés</p>
    </footer>

</body>
</html>
